img{
  height: 380px;
  width: 380px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 20px 10px -10px rgb(37 41 52 / 31%);
  margin-right: 1.7rem;
  
}
.img:hover{
  opacity: 80%;
}h1{
  font-family: 'Arvo', sans-serif;
  color:blue;
}
.bg-color{
  background-color: blue;
}