<div class="bg-color">
    <div id="site">
        <div class="wrapper">
            <h1 class="text-center ">Awards and Certificates</h1>

            <div class="awards text-center">
                <img
                    src="https://seeklogo.com/images/T/teknofest-logo-E5E6426B52-seeklogo.com.png">
                <h1>Teknofest</h1>
            </div>
            <div class="awards text-center">
                <img
                    src="https://mtsociety.memberclicks.net/assets/MATE%20ROV%20Logo-01.png">
                <h1>MateROV</h1>
            </div>
        </div>
    </div>
</div>