<div class="bg-project">

    <div id="site">
        <div class="wrapper"><div class="container">
                <h1 class="text-center ">Projects</h1>
                <div class="search">
                    <input [ngModel]="userInput"
                        (ngModelChange)="userInput = $event"
                        type="text" class="searchTerm"
                        placeholder="What are you looking for?">
                    <button type="submit" class="searchButton">
                        <i class="fa fa-search"></i>
                    </button>
                </div>

                <div class="row pt-5 m-auto">

                    <div *ngFor="let project of projects| searchPipe: userInput"
                        class="col-md-6  pb-3 align-items-center ">

                        <div
                            class="card card-custom bg-white border-white border-0">
                            <div class="card-custom-img"
                                style="background-image: url(http://res.cloudinary.com/d3/image/upload/c_scale,q_auto:good,w_1110/trianglify-v1-cs85g_cc5d2i.jpg);"></div>
                            <div class="card-custom-avatar">
                                <img class="img-fluid"
                                    src={{project.imagepath}}
                                    alt="Avatar" />
                            </div>
                            <div class="card-body" style="overflow-y: auto">
                                <h4 class="card-title">{{project.title}}</h4>
                                <p class="card-text">{{project.text}}

                                </div>
                                <div class="card-footer"
                                    style="background: inherit; border-color: inherit;">
                                    <a href={{project.url}}
                                        class="btn btn-primary">Detail</a>

                                </div>
                            </div>

                        </div>

                    </div>
                </div></div>

        </div>
    </div>