.box {
    text-align: center;
    vertical-align: middle;
    background-color: var(--dark);
    padding: 0.5rem;
  }
  .box a {
    display: inline-block;
    vertical-align: text-bottom;
  }
  .box a:hover i {
    background: #faecae;
    border-radius: 5px;
    transform: rotate(45deg) scale(0.8);
  }
  .box a:hover i::before {
    transform: rotate(-45deg) scale(1.5);
  }
  .box i {
    display: inline-block;
    font-size: 30px;
    background: #faecae;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    line-height: 60px;
    color: hwb(0 0% 100%);
    margin: 0 10px 10px 10px;
    transition-duration: 0.3s;
  }
  .box i::before {
    transition-duration: 0.3s;
  }
  .box i.fa::before {
    display: block;
  }