
<div class="skills-bg ">
    <div id="site">

        <div class="container text-center" id="searchBox">
            <h1>Search Skills</h1>
            <div class="form col-xs-12">
                <input [ngModel]="userInput"
                    (ngModelChange)="userInput = $event" class="col-xs-9"
                    id="searchBar" type="text" placeholder="search" />
                <span class="glyphicon glyphicon-search col-xs-1"
                    data-toggle="tooltip" title="Search"></span>
                <span class="glyphicon bar col-xs-1" id="submit"><b>|</b></span>

            </div>

        </div>
        <div class="transparent-bg"><div class="skills_section">

                <div class="skills_main">
                    <div *ngFor="let skill of skills| searchPipe: userInput"
                        class="skill_bar">

                        <div class="info">
                            <h1>{{ skill.name }}</h1>
                            <span>{{ skill.percentage }}% <i
                                    class="fa-brands {{skill.icon}}"></i></span>

                        </div>
                        <div class="bar">
                            <span class="{{ skill.name.toLowerCase() }}"
                                [@openClose]="{value: isOpen ? 'open' : 'closed', params: {width:skill.percentage+'%'}}"></span>
                        </div>
                    </div>
                </div>
            </div></div>

    </div>
</div>
