
<div class="info-bg">
    <!-- Hero -->
    <section class="bgimage"
        id="home">
        <div class="container-fluid">

        </div>
    </section>
    <div
        [ngClass]="{'bg-text': isNavbarCollapsed, 'bg-text-active': !isNavbarCollapsed}"
        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="hero_title">Bilge Kağan Üçdal</h2>
        <p class="devText ">Junior Computer Engineer</p>
    </div>
    <!-- Info -->

    <div id="site">
        <div class="wrapper">
            <h2>Kişisel Bilgiler</h2>
            <div class="divider"></div>
            <p>Merhaba, ben Bilge Kağan Üçdal. Haziran 1999'da Elazığ'da doğdum.
                Aslen Hataylıyım, ancak şu anda Mersin'de yaşıyorum. 24
                yaşındayım. </p>

            <h2>Kariyer</h2>
            <div class="divider"></div>
            <p>Mesleğini seven bir bilgisayar mühendisiyim. Üniversite hayatım
                boyunca, staj ve iş tecrübelerimde birçok farklı alanda rol
                aldım. Meraklı ve çabuk öğrenen yapım sayesinde pek çok duruma
                uyum sağlayabildim. Asıl yeteneğim teknolojilere hakimiyet
                değil, bilgisayar mühendisliğinin genel konseptlerindeki
                başarımdır.</p>
        </div>
    </div>
</div>