<div class="box">
        <a href="https://www.facebook.com/astronaomical/" target="_blank"><i
                        class="fab fa-facebook"></i></a>
        <a href="https://www.instagram.com/astronaomical/" target="_blank"><i
                        class="fab fa-instagram "></i></a>
        <a href="https://www.pinterest.com/astronaomical/" target="_blank"><i
                        class="fab fa-pinterest"></i></a>
        <a href="https://www.linkedin.com/in/naomi-weatherford-758385112/"
                target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://codepen.io/astronaomical/" target="_blank"><i
                        class="fab fa-codepen"></i></a>
        <a href="https://www.behance.net/astronaomical" target="_blank"><i
                        class="fab fa-behance"></i></a>
</div>
<i class="fa-solid fa-mug-hot text-danger">asdasd</i>