
<div class="info-bg">
    <!-- Hero -->
    <section class="bgimage"
        id="home">
        <div class="container-fluid">

        </div>
    </section>
    <div
        [ngClass]="{'bg-text': isNavbarCollapsed, 'bg-text-active': !isNavbarCollapsed}"
        class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2 class="hero_title">Bilge Kağan Üçdal</h2>
        <p class="hero_desc">Junior Computer Engineer</p>
    </div>
    <!-- Info -->

    <div id="site">
        <div class="wrapper">
            <h2>Başlık 1</h2>
            <div class="divider"></div>
            <p>Paragraf 1</p>

            <h2>Başlık 2</h2>
            <div class="divider"></div>
            <p>Paragraf 2</p>
        </div>
    </div>
</div>